html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #ffc600;
  font-size: 1.25rem;
}

.search-form {
  max-width: 25rem;
  margin: 3.125rem auto;
  display: flex;
  flex-direction: column;
}

.search-form > input.search {
  margin: 0;
  padding: 1.25rem;
  outline: 0;
  width: 120%;
  left: -10%;
  border: 0.625rem solid #f7f7f7;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);

  position: relative;

  text-align: center;
  font-size: 2.5rem;
}

.suggestions {
  margin: 0;
  padding: 0;
}

.suggestions li {
  margin: 0;
  padding: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: white;
  list-style: none;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) scale(1.01);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(0.05rem) scale(1.01);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

.hl {
  background: #ffc600;
}

span.population {
  font-size: 0.95rem;
}
